<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <style>
            html, body {height: 100%;}

            #content, .container-fluid, .span9
            {
                overflow-y:auto;
                height:100%;
            }​
        </style>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="http://bootswatch.com/flatly/bootstrap.min.css">
        <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <title>{% block title %}LEARNr{% endblock %}</title>

    </head>


    </body>
    {% include "nav_bar.html" %}
    {% block content %}{% endblock %}
    </body>
</html>