<script>

$( "#message_form" ).submit(function( event ) {
	event.preventDefault();
	if ( $( ".required" ).val().length === 0 ) {
		alert('no');
	} else {
		var msg = $( "#message_form" ).serialize();
		$.ajax({
			url: '{% url 'learnrapp:send_message' %}', 
			method: 'POST',
			data: msg
		})
	}
	$('.chatfield').val('');
});
latest_message = 0;

$( document ).ready(function(){
	$.ajax({
		url: '{% url 'learnrapp:get_messages' %}', 
		dataType: 'json',
		method: 'POST',
		data: {'latest_message': '-1'},
		success: function(data, status){
			var messages = $.map(data, function(el) { return el });
			for (var i = messages.length - 1; i >= 0; i--) {
				if(parseInt(messages[i]['id']) > latest_message){
					latest_message = parseInt(messages[i]['id']);
					$('.message_list').append('<li>' + messages[i]['name'] + ': ' + messages[i]['text'] + '</li>');
				}
			}
		}
	})
});
window.setInterval(function(){
	$.ajax({
			url: '{% url 'learnrapp:get_messages' %}', 
			dataType: 'json',
			method: 'POST',
			data: {'latest_message': latest_message},
			success: function(data, status){
				var messages = $.map(data, function(el) { return el });
				for (var i = messages.length - 1; i >= 0; i--) {
					if(parseInt(messages[i]['id']) > latest_message){
						latest_message = parseInt(messages[i]['id']);
						$('.message_list').append('<li>' + messages[i]['name'] + ': ' + messages[i]['text'] + '</li>');
					}
				}
			}
		})
}, 1000);
</script>

<div class="message_box" style="height:95%;">
    <div class="row" style="height:90%;">
	    <ul class="message_list">
		    <li><em>You have joined the chat room</em></li>
	    </ul>
    </div>
	Send Message
    <div class="row" style="height:10%;">
        <form id="message_form">
            {% csrf_token %}
            <div class="col-sm-8">
                <input class="required chatfield" type='text' name='text' style="color:black"></input>
            </div>
            <div class="col-sm-4">
                <input id='sendbutton' type='submit' value='Send' style="color:black"></input>
            </div>
        </form>
    </div>
</div>