{% load static %}

<script src="{% static "cm/lib/codemirror.js" %}"></script>
<link rel="stylesheet" href="{% static "cm/lib/codemirror.css" %}">
<script src="{% static "cm/mode/python/python.js" %}"></script>

<link rel="stylesheet" href="{% static "css/hopscotch.css" %}">

<textarea style="width:100%; height:100%;" id="test_text"></textarea>

<style>
	#CodeMirror
	{
		height:100%;
	}

</style>

<script>

	var myTextArea = document.getElementById("test_text");
	var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
		lineNumbers:true,
		mode:"python",
		lineWrapping:true,
		theme:"hopscotch"
	});
	myCodeMirror.setSize(myTextArea.width, "100%");

window.setInterval(function(){
	$.ajax({
			url: '{% url 'learnrapp:get_user_code' %}', 
			dataType: 'json',
			method: 'POST',
			data: {'user_id': {{user_id}}},
			complete: function(data, status){
				console.log(data.responseText);
				myCodeMirror.setValue(data.responseText);
			}
		})
}, 1000);

</script>