<div class="dropdown" >
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:90%;" id="problem_dropdown">Dropdown Example</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:5%;">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" style="width:100%;">
    <li id="1"><a href="#">HTML</a></li>
    <li id="2"><a href="#">CSS</a></li>
    <li id="3"><a href="#">JavaScript</a></li>
  </ul>



</div>